# deploy account
DEPLOYER = 
PROD_DEPLOYER_KEY = 

# addresses
ADDRESSES =
ACCOUNTS =
OWNER = 0x0000000000000000000000000000000000000000

# network uri
TENDERLY_FORK_ID =
ETH_MAINNET_URL = "https://rpc.ankr.com/eth"
ETH_GOERLI_TESTNET_URL = "https://rpc.ankr.com/eth_goerli"
BSC_MAINNET_URL = "https://bsc-dataseed1.binance.org"
BSC_TESTNET_URL = "https://data-seed-prebsc-1-s1.binance.org:8545"
ZETA_MAINNET_URL = "https://api.mainnet.zetachain.com/evm"
ZETA_TESTNET_URL = "https://zetachain-athens-evm.blockpi.network/v1/rpc/public"
OPTIMISM_TESTNET_URL = "https://goerli.optimism.io"
OPTIMISM_MAINNET_URL = "https://mainnet.optimism.io"
ARBITRUM_SEPOLIA_URL = "https://sepolia-rollup.arbitrum.io/rpc"
ARBITRUM_MAINNET_URL = "https://arb1.arbitrum.io/rpc"
POLYGON_MAINNET_URL = "https://polygon-rpc.com"
POLYGON_ZKEVM_MAINNET_URL = "https://zkevm-rpc.com"
HECO_MAINNET_URL = "https://http-mainnet.hecochain.com"

# xdeploy salt 
SALT = "0x21d9ded3be7a47914c310d286fc8585130b80154dffdc4e85fe25011304299c3"
ETH_SEPOLIA_TESTNET_URL = "https://rpc.sepolia.org"
OPTIMISM_SEPOLIA_URL = "https://sepolia.optimism.io"

# gas reporter
REPORT_GAS = true
# acan api key
BSC_API_KEY = ""
ETHERSCAN_API_KEY = ""
POLYSCAN_API_KEY = ""